<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP-adressekonvertering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>IP-adressekonvertering</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Hjem</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    <section>
        {% block body %}{% endblock %}
    </section>
    <footer>
        <p>&copy; 2023 IP-adressekonverteringsprogrammet. Alle rettigheter reservert. Laget av <a href="https://github.com/shervinfashk" style="color: #fff;">Shervin Fashkhami</a>.</p>
    </footer>
</body>
</html>
